# File: .gitignore
# Python artifacts
__pycache__/
*.py[cod]
*~
*.so
*.pyd
*.dylib

# Distribution / packaging
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest cache
.pytest_cache

# Mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/

# macOS
.DS_Store